.btn,
.jumbotron :hover {
  border-radius: 0px;
}

.nav :hover {
  border-radius: 10px;
}



body {
  background:
  #5bc0de;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
